body {
  background-color: blanchedalmond;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  margin: auto;
  background: #ffffff;
  width: 800px;
  padding: 30px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider {
  position: relative;
  width: 800px;
  height: 300px;
}

.slide {
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #ffffff;
  opacity: 0;
  transition: 0.5s;
}

.slide:first-child {
  opacity: 1;
}

.slide:target {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Slider Nav */
.slider__nav {
  text-align: center;
  margin: 20px;
}

.slider__nav li {
  display: inline-block;
  text-align: center;
}

.slider__nav__btn {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(139, 62, 210);
  padding: 10px;
  height: 10px;
  width: 10px;
  font-size: 10px;
  line-height: 1;
  border-radius: 100%;
}
